{% extends 'base.html' %}
{% block body %}
<section class="home background-hm" id="Home">
<div class="container">

     <div class="row min-vh-100 align-items-center text-center text-md-left">
         <div class="col-md-6 pr-md-5" data-aos="zoom-in">
              <div class="shadow mb-5">
          <img src="{{ url_for('static',filename='home.png')}}" width="100%" alt="">
              </div>
         </div>
         <div class="col-md-6 pl-md-5 pr-md-5 para" data-aos="fade-left" >
             <h1><span>Add Expense</span></h1>

             <form action="/addexpense" method="POST">
               <div class="form-group">
                    <label for="Date"></label>
                    <input class="form-control" type="date" name="date" id="date">
               </div>
               <div class="form-group">
                    <label for="">Expense Name</label>
                    <input class="form-control" type="text" name="expensename" id="expensename">
                   
               </div>
               <div class="form-group">
                    <label for="">Expense Amount</label>
                    <input class="form-control" type ="text" name="amount" id="amount">
                   
               </div>
               <div class="form-group">
                    <label for="">Expense Category</label>
                    <select class="form-control" name="category" id="category">
                        <option value="food">Food</option>
                        <option value="entertainment">Entertainment</option>
                        <option value="business">Business</option>
                        <option value="other">Other</option>
                    </select>
                   
               </div>
                 <input class="btn btn-danger" class="form-control" type="submit" value="Add" id="">
            </form>
              </div>

     </div>

 </div>
</section>

{% endblock %}
